# Ignore big datasets and artifacts
dataset/
Waste_Classification_Dataset/
low_quality_images/
artifacts/

# Python / Jupyter cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
